<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768900525995-237knhceh9spnj6q8f5fecohc9n1qlcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768900525995-237knhceh9spnj6q8f5fecohc9n1qlcr</string>
	<key>API_KEY</key>
	<string>AIzaSyBACYBNcc8bfnxg7JNvn5Xt3G-9GOZX-C4</string>
	<key>GCM_SENDER_ID</key>
	<string>768900525995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.matsushima.STALAB</string>
	<key>PROJECT_ID</key>
	<string>stalab-eb626</string>
	<key>STORAGE_BUCKET</key>
	<string>stalab-eb626.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768900525995:ios:f85d1b71eb765e80972cee</string>
</dict>
</plist>